.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e1ebe9;
  color: white;
  padding: 15px 0;
  z-index: 100;
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  width: 50%; /* Adjust this value as needed */
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 0 16px;
}

.nav-item a {
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.get-started {
  width: fit-content;
}

.content {
  padding-top: 70px; /* Adjust this value according to the height of your header */
}
