.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.card {
  width: 340px;
  height: 410px;
  border-style: groove;
  border-radius: 15px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.img {
  height: 240px;
  margin: 2px 5px 0 5px;
  border-style: double;
}
.content {
  border-style: groove;
  height: 170px;
}
